body {
  color: aliceblue;
  background: #1d1f23;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  text-align: center;
  color: #7c7c7c;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
}

.footer a{
  text-decoration: none;
  text-align: center;
  color: #7c7c7c;
}